@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select-estilado,
::picker(.select-estilado) {
    appearance: base-select;
}
.select-estilado {
    @apply dark:bg-primary-dark text-primary-dark border-primary border bg-white dark:border-white/10 dark:text-white;
    transition: 0.4s;
}

.select-estilado:hover {
    @apply text-primary bg-white dark:bg-blue-600 dark:text-white;
}
.select-estilado::picker-icon {
    color: #999999;
    transition: 0.4s rotate;
}
.select-estilado:open::picker-icon {
    rotate: 180deg;
}
::picker(.select-estilado) {
    border: none;
}
option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    @apply dark:bg-primary-dark text-primary-dark border-primary border bg-white dark:border-gray-400 dark:text-white;
    padding: 5px 10px;
    transition: 0.4s;
}
option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

::picker(.select-estilado) {
    border-radius: 8px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}
option:nth-of-type(odd) {
    @apply dark:bg-primary-dark bg-white;
}

option:hover {
    @apply bg-primary text-white dark:bg-blue-600 dark:text-white;
}

option:disabled {
    @apply text-red-600 dark:text-red-400;
}

option:disabled:first-of-type {
    @apply dark:bg-primary-dark bg-white text-black dark:text-white;
}

option::checkmark {
    order: 1;
    margin-left: auto;
    content: "✔️";
    display: none;
}
::picker(.select-estilado) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
}
::picker(.select-estilado):popover-open {
    opacity: 1;
}
@starting-style {
    ::picker(.select-estilado):popover-open {
        opacity: 0;
    }
}
